.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 0.25;
    border: 2px solid green;
    
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;;
    border: 2px solid green;
    display: flex;
    flex: 0.28;
}

.main-header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 400px;
}

.main-container1,
.main-container2{
   height: 200px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.main-container1 {
    margin-right: 75px;
}
.main-container2 {
    display: flex;
    border: 2px solid yellow;
    background-color: grey;
    align-items: center;
    justify-content: center;
    width: 500px;     
}


.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}



.btn {
  background-color: #3882f6;
  border-radius: 5px;  
  width: 20%;
  height: 15%;
  margin-top: 8px;
  font-weight: bold;
}

